<div class="bg--cevicheria">
    <main>
        <section class="carta" id="carta">
            <h2>Bebidas Disponibles</h2>
            <nav class="nav-carta">
                <p class="nav-p nav-active">ENTRADAS</p>
                <p class="nav-p ">GUARNICIONES</p>
                <p class="nav-p ">KIDS</p>
                <p class="nav-p ">PLATOS</p>
            </nav>

        </section>

        <section class="bebidas">
            <h2>Platos Recomendados</h2>

            <div class="lista-bebidas">
                <div class="bebida">
                    <h3 class="titulo-bebida">BAR</h3>
                    <div class="cuadro-bebida">
                        <img src="build/img/fotos-bebidas/piscoSour.png" alt="" class="foto-bebida">

                        <div class="descripcion-bebida">
                            <h3>Pisco Sour</h3>
                            <p class="precio precio--bebidas">17</p>
                            <button class="boton boton--agregar">Add</button>
                        </div>
                    </div>
                </div>
                <div class="bebida">
                    <h3 class="titulo-bebida">INFUSIONES</h3>
                    <div class="cuadro-bebida">
                        <img src="build/img/fotos-bebidas/manzanilla.png" alt="" class="foto-bebida">
                        <div class="descripcion-bebida">
                            <h3>Manzanilla</h3>
                            <p class="precio precio--bebidas">6</p>
                            <button class="boton boton--agregar">Add</button>
                        </div>
                    </div>
                </div>
                <div class="bebida">
                    <h3 class="titulo-bebida">REFRESCANTES</h3>
                    <div class="cuadro-bebida">
                        <img src="build/img/fotos-bebidas/maracuya.png" alt="" class="foto-bebida">
                        <div class="descripcion-bebida">
                            <h3>Maracuya</h3>
                            <p class="precio precio--bebidas">18</p>
                            <button class="boton boton--agregar">Add</button>
                        </div>
                    </div>
                </div>
                <div class="bebida">
                    <h3 class="titulo-bebida">CERVEZAS</h3>
                    <div class="cuadro-bebida">
                        <img src="build/img/fotos-bebidas/pilsen.png" alt="" class="foto-bebida">
                        <div class="descripcion-bebida">
                            <h3>PILSEN 350ml</h3>
                            <p class="precio precio--bebidas">12</p>
                            <button class="boton boton--agregar">Add</button>
                        </div>
                    </div>
                </div>

                <a href="/" class="link-bebidas">VER LISTA COMPLETA DE PLATOS</a>
            </div>

            
        </section>

    </main>
</div>