<div class="bg--cevicheria">
    <main>
        <section class="carta" id="carta">
            <h2 id="titulo_platos" >Platos a la carta</h2>
            <nav class="nav-carta" id="nav-platos">
                <p id="1" class="nav-p nav-active">ENTRADAS</p>
                <p id="3" class="nav-p ">PERU</p>
                <p id="2" class="nav-p ">KIDS</p>
                <p id="4" class="nav-p ">AUTOR</p>
            </nav>
            <!-- <h2 id="titulo_bebidas" class="inactivo">Bebidas Disponibles</h2> -->
            <nav class="nav-carta inactivo" id="nav-bebidas">
                <p id="6" class="nav-p ">BAR</p>
                <p id="7" class="nav-p ">INFUSIONES</p>
                <p id="8" class="nav-p ">REFRESCANTES</p>
                <p id="9" class="nav-p ">CERVEZAS</p>
            </nav>


        </section>

        <section class="recomendados">
            <h2 id="titulo-recomendados">Bebidas Recomendadas</h2>

            <div class="lista-recomendados" id="lista-recomendados">

            </div>

            <a href="/" class="link-bebidas">VER LISTA COMPLETA DE <span id="link-recomendado">BEBIDAS</span></a>
        </section>

    </main>
</div>