
@import url(../sub_secciones/platos.css);
@import url(../sub_secciones/bebidas.css);

.bg--cevicheria{
    position: relative;
}
.bg--cevicheria::before{
    position: absolute;
    content: '';
    inset: 0;
    background: url(../../bgcevicheria4.png);
    /* background-attachment: fixed; */
    opacity: .2;
}

main{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    /* margin-top: 2rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}  

@media screen and (max-width:720px) {
    main{
        flex-direction: column;
        width: 100%;

    }
}


.foto-bebida, .foto-plato{
    transition: all .8s ease ;
    border: none;
}
.foto-bebida:hover, .foto-plato:hover{
    transition: all .6s ease ;
    filter: brightness(85%);
}
.boton{
    transition: all .3s ease ;
}
.boton:hover{
    transition: all 0.2s ease ;

    filter: brightness(90%);
}

.nav-carta p{
    transition: all .3s ease ;
}
.nav-carta p:hover{
    background-color: #cac9c9;
    border-radius: 10px;
}


.carta{
    flex: 2;
}
.bebidas{
    flex: 1;
}

@media screen and (max-width:900px) {
    main{
        width: 95%;
    }
}

@media (min-width:901px) and (max-width:1023px) {
    main{
        width: 90%;
    }
}

